# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Django
# =========================
*.log
venv/
db.sqlite3
avatars/
media/
staticfiles/

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Tailwind / Node
# =========================
node_modules/
package-lock.json
